option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/application.py
  aws:elasticbeanstalk:application:environment:
    FLASK_APP: backend/application.py
    FLASK_ENV: production
    AWS_URL: http://allevenstatuoft.us-east-1.elasticbeanstalk.com
    DATABASE_URL: postgresql://postgres:postgres@awseb-e-emr25gqgfk-stack-awsebrdsdatabase-z5dannxd2soi.crkkaaui2n2g.us-east-1.rds.amazonaws.com:5432/ebdb
    AGENTQL_API_KEY: vkra07fq9zh5IgzvDaRnp7mBmnLDMXdobOEbGTqQYCXpjlSNFqAadg
    OPENAI_API_KEY: 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
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: frontend/hack_student_life_gui/build/static