commands:
  01_install_dependencies:
    command: |
      # Install required system dependencies for Playwright
      yum update -y
      yum install -y alsa-lib atk cups-libs gtk3 ipa-gothic-fonts libXcomposite libXcursor libXdamage libXext libXi libXrandr libXScrnSaver libXtst pango at-spi2-atk libXt xorg-x11-server-Xvfb xorg-x11-xauth dbus-glib dbus-glib-devel nss mesa-libgbm
  
  02_install_playwright:
    command: |
      # Install Playwright browsers
      playwright install --with-deps chromium