.App {
  text-align: center;
}



.gradient-badge {
  background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
  /* Optional: these make the badge pop a bit more */
  padding: 8px 16px;
  border-radius: 20px;
  margin-right: 8px;
}

/* Blue to Purple */
.gradient-badge-1 {
  background: linear-gradient(45deg, #4e54c8, #8f94fb);
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 20px;
}

/* Orange to Pink */
.gradient-badge-2 {
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 20px;
}

/* Green to Blue */
.gradient-badge-3 {
  background: linear-gradient(45deg, #43cea2, #185a9d);
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 20px;
}

/* Sunset */
.gradient-badge-4 {
  background: linear-gradient(45deg, #ff512f, #f09819);
  padding: 8px 16px;
  margin-right: 8px;
  border-radius: 20px;
}

.redirect-button {
  margin-left: auto;
  margin-top: 15px;
  margin-right: 15px;
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
}

.search-input {
  margin-bottom: 16px;
  border-radius: 20px;
}


#box {
  position: sticky;
  top: 0px;
  width: 100vw;
  height: 12vh;
  background: linear-gradient(135deg, #E0E0E0 25%, #FFFFFF 50%, #E0E0E0 75%);;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}



body {
  background-repeat: repeat;
  background-position: center center;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  width: 100%;
}

#leftbox {
  position: sticky;  
  float: left;
  top: 0;
  left: 0;
  width: .5vw;
  height: 100vh;
  background: linear-gradient(135deg, #E0E0E0 25%, #FFFFFF 50%, #E0E0E0 75%);
  z-index: 1000;
  flex-shrink: 0; /* Prevents the box from shrinking */
}

#rightbox {
  position: sticky;
  float: left;
  top: 0;
  left: 99vw;
  width: 1vw;
  height: 100vh;
  background: linear-gradient(135deg, #E0E0E0 25%, #FFFFFF 50%, #E0E0E0 75%);
  z-index: 1000;
  flex-shrink: 0; /* Prevents the box from shrinking */
}

#bottombox {
  position: fixed;
  float: left;
  bottom: 0px;
  width: 100vw;
  height: 1vh;
  background: linear-gradient(135deg, #E0E0E0 25%, #FFFFFF 50%, #E0E0E0 75%);
  z-index: 1000;
  flex-shrink: 0; /* Prevents the box from shrinking */
}

.content {
  flex-grow: 1;
  padding: 20px;
  height: 100vh;
  background-color: #f9f9f9;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.event-section{
  overflow-x: auto;
  display:flex;
  white-space: nowrap;
}

.event-row{
  width:100%;
  transition: transform 0.5s ease-in-out;
  flex-wrap: no-wrap;
}

.search-input-container {
  width: 90%;  /* Default width for mobile */
  max-width: 600px;
  margin: 0 auto;
  border-radius: 15px;
}
